# Data preparation for the Aguathon

## Index

## Import modules

In [3]:
%load_ext autoreload
%autoreload 1

from __future__ import print_function

# STD lib imports
import os
import sys

# Third party libs
import numpy as np
import pandas as pd

PROJ_ROOT = os.path.join(os.pardir)

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(PROJ_ROOT, "src")
sys.path.append(src_dir)

# import my method from the source code
%aimport data.make_dataset
import data.make_dataset as md

print(os.path.abspath(PROJ_ROOT))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
/Users/miloc/Documents/git-hub/Apsu

## Load data

In [5]:
raw_data = pd.read_csv('../ENTRADA/datos.csv')
raw_data

,time,ALAGON_NR,GRISEN_NR,NOVILLAS_NR,TAUSTE_NR,TUDELA_NR,ZGZ_NR,RIESGO,pred_24h,pred_48h,pred_72h
0,2008-01-01 00:00:00,0.8100,0.4375,1.6000,0.2675,0.7875,0.7400,False,0.7500,0.7400,0.7600
1,2008-01-01 01:00:00,0.8100,0.4725,1.6075,0.2650,0.7900,0.7400,False,0.7450,0.7325,0.7600
2,2008-01-01 02:00:00,0.8100,0.5425,1.6100,0.2675,0.7900,0.7400,False,0.7400,0.7300,0.7600
3,2008-01-01 03:00:00,0.8075,0.5500,1.6100,0.2600,0.7900,0.7400,False,0.7400,0.7200,0.7600
4,2008-01-01 04:00:00,0.8000,0.5525,1.6025,0.2650,0.7900,0.7400,False,0.7400,0.7200,0.7600
5,2008-01-01 05:00:00,0.8000,0.5650,1.5950,0.2575,0.7900,0.7400,False,0.7400,0.7275,0.7600
6,2008-01-01 06:00:00,0.8000,0.5700,1.5900,0.2600,0.7825,0.7425,False,0.7400,0.7375,0.7600
7,2008-01-01 07:00:00,0.7950,0.5775,1.5900,0.2525,0.7800,0.7500,False,0.7400,0.7475,0.7600
8,2008-01-01 08:00:00,0.7900,0.5800,1.5950,0.2550,0.7750,0.7500,False,0.7400,0.7525,0.7600
9,2008-01-01 09:00:00,0.7900,0.5750,1.6000,0.2525,0.7800,0.7500,False,0.7400,0.7575,0.7600
10,2008-01-01 10:00:00,0.7900,0.5700,1.6100,0.2550,0.7800,0.7500,False,0.7400,0.7600,0.7600
11,2008-01-01 11:00:00,0.7900,0.5700,1.6100,0.2600,0.7800,0.7500,False,0.7400,0.7600,0.7600
12,2008-01-01 12:00:00,0.7900,0.5700,1.6100,0.2525,0.7825,0.7500,False,0.7400,0.7600,0.7575
13,2008-01-01 13:00:00,0.7825,0.5675,1.6150,0.2550,0.7900,0.7500,False,0.7400,0.7600,0.7575
14,2008-01-01 14:00:00,0.7875,0.5600,1.6100,0.2425,0.7900,0.7500,False,0.7400,0.7600,0.7600
15,2008-01-01 15:00:00,0.7900,0.5575,1.6075,0.2525,0.7900,0.7500,False,0.7400,0.7600,0.7550
16,2008-01-01 16:00:00,0.7900,0.5475,1.6050,0.2400,0.7900,0.7500,False,0.7400,0.7600,0.7500
17,2008-01-01 17:00:00,0.7900,0.5350,1.6000,0.2475,0.7900,0.7500,False,0.7400,0.7700,0.7500
18,2008-01-01 18:00:00,0.7900,0.5300,1.6000,0.2525,0.7900,0.7500,False,0.7400,0.7700,0.7500
19,2008-01-01 19:00:00,0.7900,0.5400,1.6000,0.2425,0.7900,0.7500,False,0.7400,0.7700,0.7500
20,2008-01-01 20:00:00,0.7875,0.5500,1.5925,0.2500,0.7750,0.7500,False,0.7400,0.7675,0.7500
21,2008-01-01 21:00:00,0.7900,0.5425,1.6000,0.2400,0.7650,0.7500,False,0.7400,0.7700,0.7500
22,2008-01-01 22:00:00,0.7900,0.5300,1.6075,0.2375,0.7725,0.7500,False,0.7400,0.7600,0.7500
23,2008-01-01 23:00:00,0.7900,0.5200,1.6200,0.2450,0.7700,0.7500,False,0.7400,0.7600,0.7500
24,2008-01-02 00:00:00,0.7900,0.5250,1.6225,0.2400,0.7800,0.7500,False,0.7400,0.7600,0.7500
25,2008-01-02 01:00:00,0.7900,0.5325,1.6225,0.2425,0.7725,0.7450,False,0.7325,0.7600,0.7500
26,2008-01-02 02:00:00,0.7850,0.5400,1.6200,0.2450,0.7700,0.7400,False,0.7300,0.7600,0.7525
27,2008-01-02 03:00:00,0.7850,0.5400,1.6125,NaN,0.7675,0.7400,False,0.7200,0.7600,0.7600
28,2008-01-02 04:00:00,0.7900,0.5400,1.6075,NaN,0.7675,0.7400,False,0.7200,0.7600,0.7600
29,2008-01-02 05:00:00,0.7900,0.5300,1.6000,NaN,0.7625,0.7400,False,0.7275,0.7600,0.7600
...,...,...,...,...,...,...,...,...,...,...,...
95826,2018-12-06 18:00:00,1.0300,0.6950,1.7975,0.5300,0.8600,1.0900,False,1.0500,1.0300,1.0000
95827,2018-12-06 19:00:00,1.0300,0.6925,1.7900,0.5200,0.8500,1.0875,False,1.0500,1.0300,1.0000
95828,2018-12-06 20:00:00,1.0300,0.6925,1.7800,0.5200,0.8500,1.0800,False,1.0500,1.0300,1.0000
95829,2018-12-06 21:00:00,1.0300,0.6925,1.7800,0.5275,0.8525,1.0800,False,1.0500,1.0300,1.0000
95830,2018-12-06 22:00:00,1.0225,0.6975,1.7800,0.5300,0.8500,1.0800,False,1.0500,1.0300,1.0000
95831,2018-12-06 23:00:00,1.0200,0.6975,1.7800,0.5300,0.8500,1.0700,False,1.0500,1.0300,1.0000
95832,2018-12-07 00:00:00,1.0200,0.6925,1.7825,0.5300,0.8500,1.0700,False,1.0500,1.0300,1.0000
95833,2018-12-07 01:00:00,1.0200,0.6925,1.7900,0.5300,0.8500,1.0700,False,1.0425,1.0200,1.0000
95834,2018-12-07 02:00:00,1.0175,0.6925,1.7900,0.5300,0.8600,1.0700,False,1.0400,1.0200,1.0000
95835,2018-12-07 03:00:00,1.0100,0.6900,1.7900,0.5300,0.8550,1.0700,False,1.0400,1.0200,1.0000
95836,2018-12-07 04:00:00,1.0100,0.6900,1.7900,0.5300,0.8525,1.0700,False,1.0400,1.0200,1.0000
95837,2018-12-07 05:00:00,1.0100,0.6925,1.7900,0.5300,0.8500,1.0600,False,1.0300,1.0200,1.0000
95838,2018-12-07 06:00:00,1.0050,0.6900,1.7825,0.5300,0.8500,1.0600,False,1.0300,1.0200,0.9975
95839,2018-12-07 07:00:00,1.0000,0.6925,1.7800,0.5300,0.8425,1.0600,False,1.0250,1.0200,0.9925
95840,2018-12-07 08:00:00,1.0000,0.6925,1.7775,0.5300,0.8400,1.0600,False,1.0200,1.0200,0.9900
95841,2018-12-07 09:00:00,1.0000,0.7000,1.7700,0.5300,0.8400,1.0600,False,1.0200,1.0200,0.9900
95842,2018-12-07 10:00:00,1.0000,0.6975,1.7650,0.5225,0.8400,1.0600,False,1.0200,1.0200,0.9900
95843,2018-12-07 11:00:00,1.0000,0.6975,1.7550,0.5225,0.8400,1.0575,False,1.0200,1.0175,0.9925
95844,2018-12-07 12:00:00,1.0000,0.6900,1.7400,0.5200,0.8450,1.0500,False,1.0300,1.0100,0.9900
95845,2018-12-07 13:00:00,1.0000,0.6900,1.7025,0.5200,0.8500,1.0500,False,1.0300,1.0100,1.0000
95846,2018-12-07 14:00:00,1.0000,0.6900,1.6550,0.5200,0.8475,1.0500,False,1.0300,1.0100,1.0000
95847,2018-12-07 15:00:00,1.0000,0.6900,1.6325,0.5225,0.8475,1.0500,False,1.0300,1.0100,1.0000
95848,2018-12-07 16:00:00,1.0000,0.6925,1.6325,0.5300,0.8425,1.0500,False,1.0300,1.0100,1.0000
95849,2018-12-07 17:00:00,0.9925,0.6900,1.6550,0.5300,0.8500,1.0500,False,1.0300,1.0100,1.0000
95850,2018-12-07 18:00:00,0.9900,0.6900,1.6950,0.5275,0.8500,1.0500,False,1.0300,1.0000,0.9900
95851,2018-12-07 19:00:00,0.9850,0.6950,1.7300,0.5200,0.8450,1.0500,False,1.0300,1.0000,0.9900
95852,2018-12-07 20:00:00,0.9800,0.6925,1.7475,0.5200,0.8450,1.0500,False,1.0300,1.0000,0.9900
95853,2018-12-07 21:00:00,0.9675,0.6925,1.7500,0.5200,0.8375,1.0500,False,1.0300,1.0000,0.9900
95854,2018-12-07 22:00:00,0.9550,0.6925,1.7400,0.5200,0.8300,1.0500,False,1.0300,1.0000,0.9900
95855,2018-12-07 23:00:00,0.9450,0.6925,1.7375,0.5200,0.8300,1.0500,False,1.0300,1.0000,0.9900